<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOOLZAPP</title>
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!--myCss-->
    <link rel="stylesheet" href="./assets/css/style.css" />
</head>

<body>
    <div id="app">
        <!--web-app-->
        <div id="web-app">
            <div class="container-md">
                <div class="row">
                    <!--sez. sx contatti-->
                    <div class="col-5 p-0" id="left-whatsapp">
                        <!--header left-->
                        <div class="col-12 d-flex justify-content-between align-items-center border-end" id="head-left">
                            <div>
                                <img src="./assets/img/avatar_io.jpg" alt="" class="rounded-circle ms-2">
                                <span class="ms-2">Sofia</span>
                            </div>
                            <div class="me-2">
                                <i class="fa-solid fa-circle-notch" style="color: #b1b1b1;"></i>
                                <i class="fa-solid fa-message mx-2" style="color: #b1b1b1;"></i>
                                <i class="fa-solid fa-ellipsis-vertical" style="color: #b1b1b1;"></i>
                            </div>
                        </div>

                        <!--sezione alert-->
                        <div class="col-12 d-flex align-items-center p-2" style="background-color: #8edafc;">
                            <!--campanella-->
                            <div class="rounded-circle bg-white d-flex justify-content-center align-items-center" style="width: 40px; height: 40px;">
                                <i class="fa-solid fa-bell-slash" style="color: #8edafc;"></i>
                            </div>
                            <!--status-->
                            <div class="ms-2 status">
                                <span>
                                    Ricevi notifiche di nuovi messaggi
                                </span>
                                <span class="text-decoration-underline text-secondary d-block">Attiva notifiche desktop</span>
                            </div>
                        </div>
                        <!--cerca-->
                        <div class="col-12" style="background-color: #fafafa;">
                            <div class="input-group flex-nowrap p-1 position-relative">
                                <span class="input-group-text" id="addon-wrapping">
                                    <i class="fa-solid fa-magnifying-glass" style="color: #b1b1b1;"></i>
                                </span>
                                <input type="text" class="w-100 border" placeholder="Cerca o inizia una nuova chat" aria-describedby="addon-wrapping" v-model="person"
                                @input="filterNames"
                                @focus="soldier = true">

                                <!-- <div id="contact-list" v-if="filteredNames && soldier">
                                    <ul>
                                        <li v-for="(element, index) in filteredNames"
                                        @click="setPerson(element)"
                                        v-for="(elem, i) in contacts"
                                        @click="changeChat(i)">
                                            {{element}}
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                        <!--contatti-->
                        <div class="bg-white" id="contatti">

                            <div
                            @click="changeChat(index)"
                            v-for=" (element, index) in contacts"
                            :key="index"
                            :class="(control == index) ? 'active' : ''">
                                <div class="col-12 d-flex align-items-center p-2 border-top" v-if="element.name.toLowerCase().includes(person)">

                                    <img :src="element.avatar" alt="" class="rounded-circle">
                                    <div class="ms-3 w-100">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="name">{{element.name}}</span>
                                            <span class="date">{{element.messages[element.messages.length-1].date}}</span>
                                        </div>
                                        <span class="d-block message">
                                            {{element.messages[element.messages.length-1].message}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--sez. dx chat-->
                    <div class="col-7" id="right-whatsapp" @click="soldier = false">
                        <div class="row">
                            <!--header right-->
                            <div class="col-12 d-flex justify-content-between align-items-center p-2 border-start" id="head-right">
                                <div class="d-flex">
                                    <img :src="contacts[control].avatar" alt="" class="rounded-circle">
                                    <div class="ms-2">
                                        <span class="name">{{contacts[control].name}}</span>
                                        <span class="d-block date">{{contacts[control].messages[contacts[control].messages.length-1].date}}</span>
                                    </div>
                                </div>
                                <div class="">
                                    <i class="fa-solid fa-magnifying-glass" style="color: #b1b1b1;"></i>
                                    <i class="fa-solid fa-paperclip mx-2" style="color: #b1b1b1;"></i>
                                    <i class="fa-solid fa-ellipsis-vertical" style="color: #b1b1b1;"></i>
                                </div>
                            </div>

                            <!--main right-->
                            <div class="col-12 d-flex flex-column  align-items-center" id="main-chat">
                                <div class="w-75 d-flex flex-column">

                                    <div class="rounded p-3 position-relative my-1" :class="element.status" v-for="(element, index) in contacts[control].messages" :key="control">
                                        <div>
                                            {{element.message}}
                                        </div>
                                        <div class="date-chat">
                                            {{element.date}}
                                        </div>
                                        <div class="contact-list" v-if="element.prova">
                                            <ul>
                                                <li>giorgioForeach</li>
                                                <li @click="deleteL(element, index)">Elimina Messaggio</li>
                                            </ul>
                                        </div>
                                        <div id="menuMessage">
                                            <i class="fa-solid fa-ellipsis-vertical" style="color: #b1b1b1;"  @click="changeDisplay(element)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--message-text-area-->
                            <div class="col-12 d-flex align-items-center justify-content-around p-2"
                            style="background-color: #f3eeea;"
                            id="text-area">
                                <i class="fa-regular fa-face-smile text-secondary"></i>
                                <div class="w-75">
                                    <input type="text" class="w-100 border p-1" placeholder="scrivi un messaggio" @KeyUp.enter="addMessage()" v-model="myMessage">
                                </div>
                                <i class="fa-solid fa-microphone text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--bootstrap script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <!--vue-->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <!--myScript-->
    <script src="./assets/js/main.js"></script>
</body>
</html>