*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background: rgb(219,219,211);
    background: linear-gradient(0deg, rgba(219,219,211,1) 0%, rgba(219,219,211,1) 85%, rgba(0,150,136,1) 85%);
}