*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 40px;
    height: 40px;
}

#web-app{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(219,219,211);
    background: linear-gradient(0deg, rgba(219,219,211,1) 0%, rgba(219,219,211,1) 85%, rgba(0,150,136,1) 85%);
}

.container-md{
    height: 95vh;
}

#head-left{
    background-color: #eaeaea;
}

.status{
    font-size: 12px;
}
.name{
    font-size: 15px;
}
.message,
.date{
    font-size: 10px;
    color: gray;
}

.col-7{
    border: 1px solid red;
    
}